<head>
    <title>NAM Work Tracker</title>
    {% load static %}
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'Skeleton-2.0.4/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Skeleton-2.0.4/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>

<body>
    <div style="margin-top: 1em" class="container">
        <a href="{% url 'index' %}" class="button-primary">Domů </a>-
        <a href="{% url 'track1' %}" class="button-primary">Úkoly </a>-
        <a href="{% url 'track2' %}" class="button-primary">Zaměstnanci </a>-
        <a href="{% url 'track3' %}" class="button-primary">Projekty </a>-
        <a href="{% url 'track4' %}" class="button-primary">Můj přehled </a>
        <div class="heading">
            <h4>Časová náročnost projektů</h4>
        </div>
        {% csrf_token %}
        <form method="get">
            {{ form }}
            <br><input style="margin-top: 2em" class="button-primary" type="submit" value="Submit" />
        </form>
        <div style="padding-top: 2em; padding-bottom: 2em">
            {% if name != "" %}
                <h5>Přehled projektu <b>{{ name }}</b> v <b>{{ month }}. měsíci {{ year }}</b>:</h5>
            {% else %}
                <h5>Přehled o všech projektech v <b>{{ month }}. měsíci {{ year }}</b>:</h5>
            {% endif %}
        </div>
        {% if project_spent %}
            <table id="table1" style="margin-bottom: 9em">
                <thead>
                    <th onclick="sortTable(0)">Projekt <img src="{% static 'icons8-sorting-30.png' %}" alt="sort" width="15px"></th>
                    <th>Popis</th>
                    <th onclick="sortTable(2)">Tvůrce projektu <img src="{% static 'icons8-sorting-30.png' %}" alt="sort" width="15px"></th>
                    <th onclick="sortTable(3)">Náročnost [h] <img src="{% static 'icons8-sorting-30.png' %}" alt="sort" width="15px"></th>
                </thead>
                <tbody>
                    {% for record in project_spent %}
                        <tr>
                            <td onclick="clickFilterProject('{{record.name}}')">{{ record.name }}</td>
                            <td style="max-width: 20em; word-wrap: break-word">{{ record.description }}</td>
                            <td>{{ record.creator }}</td>
                            <td>{{ record.spent }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>{{ spent_sum }}</b></td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <h5>Žádná data nenalezena</h5>
        {% endif %}
    </div>
</body>
<script>
    function clickFilterProject(project){
        project = project.replace(/\s/g, '+');
        url = window.location.href.split('?')[0];
        console.log(url);
        url = url+"?name=" + project + "&year=" + {{year}} + "&month=" + {{month}};
        
        window.location.replace(url);
    }

    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("table1");
      switching = true;
      dir = "asc";
      headers = document.getElementsByTagName('th');
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 2); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if(n == 3){
            if (dir == "asc") {
                if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                  }
              } else if (dir == "desc") {
                if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                  }
              }  
          } else {
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                  }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                  }
              }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
      headers[0].innerHTML = "Projekt <img src='{% static 'icons8-sorting-30.png' %}' alt='sort' width='15px'>";
      headers[2].innerHTML = "Tvůrce projektu <img src='{% static 'icons8-sorting-30.png' %}' alt='sort' width='15px'>";
      headers[3].innerHTML = "Náročnost [h] <img src='{% static 'icons8-sorting-30.png' %}' alt='sort' width='15px'>";
      if(dir == "asc"){
          headers[n].innerHTML = headers[n].innerHTML.split('<')[0] + "<img src='{% static 'icons8-ascending-sorting-30.png' %}' alt='sort' width='15px'>"
      }
      else if (dir == "desc"){
          headers[n].innerHTML = headers[n].innerHTML.split('<')[0] + "<img src='{% static 'icons8-descending-sorting-30.png' %}' alt='sort' width='15px'>"
      }
    }
</script>