<head>
    <title>NAM Work Tracker</title>
    {% load static %}
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'Skeleton-2.0.4/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Skeleton-2.0.4/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>

<body>
    <div style="margin-top: 1em" class="container">
        <a href="{% url 'index' %}" class="button-primary">Domů </a>-
        <a href="{% url 'track1' %}" class="button-primary">Náročnost úkolů </a>-
        <a href="{% url 'track2' %}" class="button-primary">Odpracovaný čas </a>-
        <a href="{% url 'track3' %}" class="button-primary">Náročnost projektů </a>
        <div class="heading">
            <h4>Časová náročnost projektů</h4>
        </div>
        {% csrf_token %}
        <form method="get">
            {{ form }}
            <br><input style="margin-top: 2em" class="button-primary" type="submit" value="Submit" />
        </form>
        <div style="padding-top: 2em; padding-bottom: 2em">
            {% if name != "" %}
                <h5>Přehled projektu {{ name }} v {{ month }}. měsíci {{ year }}:</h5>
            {% else %}
                <h5>Přehled o všech projektech v {{ month }}. měsíci {{ year }}:</h5>
            {% endif %}
        </div>
        {% if project_spent %}
            <table id="table1" style="margin-bottom: 9em">
                <thead>
                    <th onclick="sortTable(0)">Projekt</th>
                    <th>Popis</th>
                    <th onclick="sortTable(2)">Tvůrce projektu</th>
                    <th onclick="sortTable(3)">Náročnost [h]</th>
                </thead>
                <tbody>
                    {% for record in project_spent %}
                        <tr>
                            <td>{{ record.name }}</td>
                            <td style="max-width: 20em; word-wrap: break-word">{{ record.description }}</td>
                            <td>{{ record.creator }}</td>
                            <td>{{ record.spent }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>{{ spent_sum }}</b></td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <h5>Žádná data nenalezena</h5>
        {% endif %}
    </div>
</body>
<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("table1");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 2); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if(n == 3){
            if (dir == "asc") {
                if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                  }
              } else if (dir == "desc") {
                if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                  }
              }  
          } else {
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                  }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                  }
              }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
</script>