<head>
    <title>NAM Work Tracker</title>
    {% load static %}
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'Skeleton-2.0.4/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Skeleton-2.0.4/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>

<body>
    <div style="margin-top: 1em" class="container">
        <a href="{% url 'index' %}" class="button-primary">Domů </a>-
        <a href="{% url 'track1' %}" class="button-primary">Náročnost úkolů </a>-
        <a href="{% url 'track2' %}" class="button-primary">Odpracovaný čas </a>-
        <a href="{% url 'track3' %}" class="button-primary">Náročnost projektů </a>
        {% csrf_token %}
        <div class="heading">
            <h4>Detail:<b> {{name}} </b></h4>
        </div>
        
        {% if name == '' %}
            <form method="get">
                {{ form }}
                <br><input style="margin-top: 2em" class="button-primary" type="submit" value="Submit" />
            </form>
        {% else %}
            <h5>asdas</h5>
        {% endif %}
    </div>
</body>
